@font-face {
	font-family: "Red Hat Display Variable";
	font-style: normal;
	font-weight: 100 1000;
	src: local("Red Hat Display"), local("RedHatDisplay"), local("RedHatDisplay Regular"), url(RedHatDisplayVF.woff2) format("woff2");
	font-display: block;
}

@font-face {
	font-family: "Red Hat Display Variable";
	font-style: italic;
	font-weight: 100 1000;
	src: local("Red Hat Display"), local("RedHatDisplay"), local("RedHatDisplay Regular"), url(RedHatDisplayVF-italic.woff2) format("woff2");
	font-display: block;
}
